<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>EmployeeAttendanceReport</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>servlet_1</servlet-name>
    <servlet-class> servlet_1</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>indx</display-name>
    <servlet-name>indx</servlet-name>
    <jsp-file>/indx.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>indx</servlet-name>
    <url-pattern>/indx</url-pattern>
  </servlet-mapping>
</web-app>